{% extends "base.html.jinja" %}

{% block content %}
<h1 class="chart-title">Selecione as colunas para criar gráficos</h1>

<div class="chart-container">
  <form action="/generate_chart" method="post" class="chart-form">
    <label for="x_column" class="chart-label">Eixo X:</label>
    <select name="x_column" id="x_column" class="chart-select">
      {% for column in columns %}
      <option value="{{ column }}">{{ column }}</option>
      {% endfor %}
    </select>

    <label for="y_column" class="chart-label">Eixo Y:</label>
    <select name="y_column" id="y_column" class="chart-select">
      {% for column in columns %}
      <option value="{{ column }}">{{ column }}</option>
      {% endfor %}
    </select>

    <input type="submit" value="Gerar Gráfico" class="chart-button" />
  </form>
</div>
{% endblock %}
